{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de usuario</h1>
</div>

<table class="table">
    <tr>
      <th>Nome</th>
      <th>Email</th>
    </tr>
        {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.periodo }}</td>
            <td><a href="{% url 'editar_usuario' usuario.id %}">Editar</a></td>
            <td><a href="{% url 'apagar_usuario' usuario.id %}">Apagar</a></td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
