{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de matricula</h1>
</div>

<form method="post" action="{% url 'novo_matricula' %}">{% csrf_token %}
  <fieldset>
    <legend>Dados do professor</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="ra_aluno_matricula">Ra: </label>
          </td>
          <td align="left">
            {{ form.ra_aluno_matricula }}</br>
          </td>
        </tr>


        <tr>
          <td>
            <label for="nome_disciplina_matricula">Nome da discilplina: </label>
          </td>
          <td align="left">
            {{ form.nome_disciplina_matricula }}</br>
          </td>
        </tr>

        <tr>
          <td>

            <label for="ano_ofertado_matricula">Ano: </label>
          </td>
          <td align="left">
            {{ form.ano_ofertado_matricula }}</br>
          </td>
        </tr>


        <tr>
          <td>
            <label for="semestre_ofertado_matricula">Semestre: </label>
          </td>
          <td align="left">
            {{ form.semestre_ofertado_matricula }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="id_turma_matricula">Turma: </label>
          </td>
          <td>
            {{ form.id_turma_matricula }}</br>
          </td>
        </tr>

      </table>
    </fieldset>

<table>
  <tr>
    <td>
        <input type="submit" value="Salvar" />
    </td>
  </tr>
</table>

</form>
{% endblock %}
