{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de grade curricular</h1>
</div>

<form method="post" action="{% url 'novo_grade_curricular' %}">{% csrf_token %}
  <fieldset>
    <legend>Dados da grade curricular</legend>
      <table cellspacing="2">

        <tr>
          <td>
            <label for="sigla_curso_grade_curricular">Sigla: </label>
          </td>
          <td align="left">
            {{ form.sigla_curso_grade_curricular }}</br>
          </td>
        </tr>

        <tr>
          <td>

            <label for="ano_grade_curricular">Ano: </label>
          </td>
          <td align="left">
            {{ form.ano_grade_curricular }}</br>
          </td>
        </tr>


        <tr>
          <td>
            <label for="semeste_grade_curricular">Semestre: </label>
          </td>
          <td align="left">
            {{ form.semeste_grade_curricular }}</br>
          </td>
        </tr>

      </table>
    </fieldset>

<table>
  <tr>
    <td>
        <input type="submit" value="Salvar" />
    </td>
  </tr>
</table>

</form>
{% endblock %}
