{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de alunos</h1>
</div>

<table class="table">
    <tr><th>Nome do aluno</th><th>Curso</th></tr>
        {% for aluno in alunos %}
          <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.curso }}</td>
            <td><a href="{% url 'editar_aluno' aluno.id %}">Editar</a></td>
            <td><a href="{% url 'apagar_aluno' aluno.id %}">Apagar</a></td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
