{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista da disciplina ofertada</h1>
</div>

<table class="table">
    <tr>
      <th>Nome do curso</th>
      <th>Ano</th>
      <th>Semestre</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
        {% for disciplinaofertada in disciplinaofertadas %}
          <tr>
            <td>{{ disciplinaofertada.nome_disciplinaofertada }}</td>
            <td>{{ disciplinaofertada.ano_disciplinaofertada }}</td>
            <td>{{ disciplinaofertada.semestre_disciplinaofertada }}</td>
            <td>
              <a href="{% url 'editar_disciplinaofertada' disciplinaofertada.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/editar.png" height="32" width="32">
              </a>
            </td>
            <td>
              <a href="{% url 'apagar_disciplinaofertada' disciplinaofertada.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/excluir.png" height="32" width="32">
              </a>
            </td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
