{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de professores</h1>
</div>

<table class="table">
    <tr><th>Ra</th><th>Nome</th></tr>
        {% for professor in professores %}
          <tr>
            <td>{{ professor.ra_professor }}</td>
            <td>{{ professor.nome_professor }}</td>
            <td><a href="{% url 'editar_professor' professor.id %}">Editar</a></td>
            <td><a href="{% url 'apagar_professor' professor.id %}">Apagar</a></td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
