{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de colaborador</h1>
</div>

<table class="table">
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
    </tr>
        {% for colaborador in colaboradores %}
          <tr>
            <td>{{ colaborador.nome }}</td>
            <td>{{ colaborador.cargo }}</td>
            <td><a href="{% url 'editar_colaborador' colaborador.id %}">Editar</a></td>
            <td><a href="{% url 'apagar_colaborador' colaborador.id %}">Apagar</a></td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
