{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de colaborador</h1>
</div>

<form method="post" action="{% url 'novo_colaborador' %}">{% csrf_token %}
  <fieldset>
    <legend>Dados do colaborador</legend>
      <table cellspacing="2">

        <tr>
          <td>

            <label for="nome">Nome: </label>
          </td>
          <td align="left">
            {{ form.nome }}</br>
          </td>
        </tr>


        <tr>
          <td>
            <label for="data_nascimento">Data de nascimento: </label>
          </td>
          <td align="left">
            {{ form.data_nascimento }}</br>
          </td>
        </tr>

        <tr>
          <td align="left">
            <label for="email">Email: </label>
          </td>
          <td>
            {{ form.email }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="endereco">Endereço: </label>
          </td>
          <td align="left">
            {{ form.endereco }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="cidade">Cidade: </label>
          </td>
          <td align="left">
            {{ form.cidade }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="estado">Estado: </label>
          </td>
          <td align="left">
            {{ form.estado }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="telefone">Telefone: </label>
          </td>
          <td align="left">
            {{ form.telefone }}</br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="celular">Celular: </label>
          </td>
          <td>
            {{ form.celular }}</br>
          </td>
        </tr>

      </table>
    </fieldset>
  <fieldset>

    <table>
      <legend>Dados do cargo</legend>
      <tr>
        <td>
          <label for="cargo">Cargo: </label>
        </td>
        <td align="left">
          <select id="cargo" name="cargo" value="{{ form.cargo }}">
            <option value="Auxiliar Administrativo">Auxiliar Administrativo</option>
            <option value="Coordenador">Coordenador</option>
            <option value="Professor">Professor</option>
          </select></br>
        </td>
      </tr>

    </table>
  </fieldset>
<table>
  <tr>
    <td>
        <input type="submit" value="Salvar" />
    </td>
  </tr>
</table>

</form>
{% endblock %}
