{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de candidatos</h1>
</div>

<table class="table">
    <tr><th>Nome</th><th>Curso</th></tr>
        {% for candidato in candidatos %}
          <tr>
            <td>{{ candidato.nome }}</td>
            <td>{{ candidato.curso }}</td>
            <td><a href="{% url 'editar_candidato' candidato.id %}">Editar</a></td>
            <td><a href="{% url 'apagar_candidato' candidato.id %}">Apagar</a></td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
