<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Aplicação de Gerenciamento de Vestibulares</title>
    <link href="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/css/site.css" rel="stylesheet"/>
</head>

<body>
  <div class="nav">
    <ul>
      <li class="dropdown">
        <a href="" class="dropbtn">Aluno</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_alunos' %}">Lista</a>
          <a href="{% url 'novo_aluno' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Cursos</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_cursos' %}">Lista</a>
          <a href="{% url 'novo_curso' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Disciplina</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_matricula' %}">Lista</a>
          <a href="{% url 'novo_matricula' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Grade Curricular</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_grade_curricular' %}">Lista</a>
          <a href="{% url 'novo_grade_curricular' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Matricula</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_matricula' %}">Lista</a>
          <a href="{% url 'novo_matricula' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Professor</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_professor' %}">Lista</a>
          <a href="{% url 'novo_professor' %}">Novo</a>
        </div>
      </li>

    </ul>
  </div>

{% block content %}{% endblock %}



{% block scripts %}{% endblock %}

</body>
</html>
