{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista de curso turma</h1>
</div>

<table class="table">
    <tr>
      <th>Sigla curso</th>
      <th>Nome disciplina</th>
      <th>Ano</th>
      <th>Semestre</th>
      <th>Turma</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
        {% for cursoturma in cursoturmas %}
          <tr>
            <td>{{ cursoturma.sigla_curso }}</td>
            <td>{{ cursoturma.nome_disciplina }}</td>
            <td>{{ cursoturma.ano_disciplina }}</td>
            <td>{{ cursoturma.semestre_disciplina }}</td>
            <td>{{ cursoturma.id_turma }}</td>
            <td>
              <a href="{% url 'editar_cursoturma' cursoturma.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/editar.png" height="32" width="32">
              </a>
            </td>
            <td>
              <a href="{% url 'apagar_cursoturma' cursoturma.id %}">
                <img src="https://webdjango.scm.azurewebsites.net/dev/api/files/wwwroot/app/static/img/excluir.png" height="32" width="32">
              </a>
            </td>
          </tr>
        {% endfor %}
</table>

{% endblock %}
