{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Aplicação de Gerenciamento de Vestibulares</title>
    {% load staticfiles %}
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet"/>
</head>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Aplicação de Gerenciamento de Vestibulares</title>
    {% load staticfiles %}
    <link href="{% static 'app/css/site.css' %}" rel="stylesheet"/>
    
</head>

<body>
  <div class="nav">
    <ul>
      <li class="dropdown">
        <a href="" class="dropbtn">Aluno</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_alunos' %}">Lista</a>
          <a href="{% url 'novo_aluno' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Candidato</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_candidatos' %}">Lista</a>
          <a href="{% url 'novo_candidato' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Colaborador</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_colaborador' %}">Lista</a>
          <a href="{% url 'novo_colaborador' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Cursos</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_cursos' %}">Lista</a>
          <a href="{% url 'novo_curso' %}">Novo</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="" class="dropbtn">Usuario</a>
        <div class="dropdown-content">
          <a href="{% url 'listar_usuarios' %}">Lista</a>
          <a href="{% url 'novo_usuario' %}">Novo</a>
        </div>
      </li>
    </ul>
  </div>

{% block content %}{% endblock %}



{% block scripts %}{% endblock %}

</body>
</html>

<body>
                <ul class="nav">
                    <li><a href="{% url 'pagina_inicial' %}">Pagina Inicial</a></li>
                    <li><a href="{% url 'cadastro_alunos' %}">Aluno</a></li>
                    <li><a href="{% url 'cadastro_candidatos' %}">Candidatos</a></li>
                    <li><a href="{% url 'cadastro_colaborador' %}">Colaborador</a></li>
                    <li><a href="{% url 'cadastro_cursos' %}">Curso</a></li>
                    <li><a href="{% url 'contato' %}">Contato</a></li>
                    <li><a href="{% url 'desenvolvido' %}">Desenvolvido</a></li>
                    <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                </ul>

{% block content %}{% endblock %}

        <footer>
            <p>&copy; {{ year }} </p>
        </footer>

{% block scripts %}{% endblock %}

</body>
</html>
